

:root{
    --color1: #3F4B72;
    --color2: #3A597D;
    --color3: #547A96;
    --color4: #4688A1;
    --color5: #1C5F73;
}


html{
    font-size: 62.5%;
    font-family: "Monserrat", Sans-serif;
    

}
*,*:before,
*:after{
    box-sizing: border-box;
}

.centrado{
    width: 85%; 
    margin: 0 auto;
}
.center{
    text-align: center;
}
img{
    max-width: 100%;
}

.header{
    background: linear-gradient(180deg, var(--color1),rgb(255, 255, 255)),url(/img/img4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
    height: 120vh;
    
}

.header-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    height: 15%;
    width: 100%;
    padding: 15px;
}
@media (min-width: 768px){
    .nav{
        display: flex;

    }
}
.logo{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
@media (min-width: 768px){
    .logo{
        display: flex;
      flex-direction: row;
    }
    
}
.logo__paragraph{
    margin: 0;
    color: #fff;
}
.logo__span{
    font-weight: bold;
    color: var(--color1);
}
.header-principal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 768px){
    .header-principal{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
}
.texto-header{
    
    
    width: 50%;
    color: var(--color5);
    font-size: 15px;

}
.cta{
    margin-left: -3rem;
}
.btn-cta{
    background: #05c9fa;
    text-decoration: none;
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 5px 5px 40px;
    margin: 3rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.main__title{
    text-align: center;
    padding: 4rem;
    text-transform: uppercase;
}
.main__cards{
    height: 100%;
    margin: 3rem auto;
    
    
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
}
.card__img{
    width: 2rem;
    height: 2rem;
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 50%;
    background: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card__title{
    margin: 3rem;
    text-align: center;
    color: var(--color4);
    text-transform: uppercase;
}
.card__paragraph{
    text-align: center;
    font-size: 1.2rem;
}
.section-mid{
    background: #61C4F2;
    height: 100%;
    width: 100%;
}
.container-mid{
   padding: 3rem;

}

.img-mid{
    margin: 0 auto;
    width: 40%;
}
.cant{
    font-size: 3rem;
    font-weight: bold;
}
.type-mid{
    font-size: 2rem;
}
.card__img-services{
    width: 50%;
}

.article{
    height: 100%;
    background: #61C4F2;
    padding: 2rem;
}
.title-article{
    color: #fff;
    text-align: center;
    text-transform: uppercase;

}
.card-article{
    background: linear-gradient(180deg, var(--color1),var(--color4),0.5);
    clip-path: circle(30%);
    -webkit-clip-path: circle(30%)
}
.text-article{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    
}
.footer{
 
} 
.social-media{
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;

}
.iconos{
    width: 3rem;
    height: 3rem;
}